.container {
    /* max-width: 600px; */
    margin: 0 auto;
}

.cpf-section {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
