.icone{
    width: 5rem;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.border{
    margin-bottom: 1rem;
}

.servicos{
    /* background-color: #B9D2BC; */
    border-top: solid 0.25rem #B9D2BC;
    border-bottom: solid 0.25rem #B9D2BC;
}

.subdivisao{
    background-color: #B9D2BC;
    margin-bottom: 0;
}

.box{
    background-color: #E5E8E3;
    border-top: solid gray 0.1rem;
    border-bottom: solid gray 0.1rem;
    padding: 0.5rem 0 0.5rem 0;
}
