
/* SOBRE NÓS */

.tania{
    width: 20rem;
    height: auto;
    border-radius: 20px;
}

.padding{
    padding: 1rem 1rem 0 1rem;
}

.full_screen{
    width: 100%;
    height: auto;
}

.box{
    justify-content: center;
    margin: 1rem 0 1em 0;
}

.tamanho1{
    width: 30%;
    text-align: center;
}

.icones{
    width: 6rem;
    height: auto;
}

.diferenciais{
    justify-content: center;
    margin: 1rem 0 1em 0;

    width: 22%;
    text-align: center;

    border: solid gray 0.1rem;
    border-radius: 15px;
    padding: 1rem 0 1rem 0;
}