/* IMAGENS */

.logo{
    width: 15%;
    height: auto;
}

.icone{
    width: 5%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}



.border{
    margin-bottom: 1rem;
}


.all_padding{
    padding: 1rem;
}

td{
    height: 2rem;
    vertical-align: middle;
}



/* AVALIAR  */
.rating {
    display: inline-block;
  }
  
  .rating img {
    width: 40px;
    height: 40px;
  }
  