/* IMAGENS */

.logo{
    width: 15%;
    height: auto;
}

.icone{
    width: 5%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.border{
    margin-bottom: 1rem;
}


.all_padding{
    padding: 1rem;
}
